<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.wei.flowingflying.pro"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@style/AppTheme" > 
        <activity
            android:name="cn.wei.flowingflying.pro.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePressTestCase1" android:label="@string/test_case_1_home" 
            android:parentActivityName="cn.wei.flowingflying.pro.MainActivity" />
        <activity android:name=".ActionAreaTestCase2" android:label="@string/test_case_2_action" />
        <activity android:name=".SearchTestCase3" android:label="@string/test_case_3_search" />    
        
        <activity android:name=".SearchResultActvity" android:label="@string/search_result" >
			<intent-filter>
        		<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        
        
	
        <activity android:name=".StandardActionBarDemo" android:label="@string/standard_test" />
        <activity android:name=".TabbedActionBarDemo" android:label="@string/tabbed_test" />
		<activity android:name=".ListActionBarDemo" android:label="@string/list_test" 
		   android:theme="@android:style/Theme.DeviceDefault" />
    </application>

</manifest>
